<p>footer works</p><!--desnt display??-->


<!-- <footer class="page-footer bg-dark">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#">Support</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Terms of Use</a>
            </li>
        </ul>
    </nav>
</footer> -->

<footer class="main-footer bg-dark">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#">Support</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Terms of Use</a>
            </li>
            <li class="main-footer__link">
                <a href="#">   About Us</a>
            </li>
        </ul>
    </nav>
</footer>


