<!--app.component.html-->
<!-- <app-nav></app-nav> -->
<!-- <app-pizzasearch></app-pizzasearch>
<app-productlist></app-productlist>
<app-pizza></app-pizza> -->

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/pizza']">ViewPizzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/productlist']">PizzaListInCard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/search']">Search</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <hr>
    <h1>Header Component</h1>
    <router-outlet></router-outlet>
    <h6>Footer Component</h6>
</body>
<!-- <div class="container">
    <router-outlet></router-outlet>
</div>  allows the images on each pae to be ppushed upwards-->

<!-- <div class="container">
    <h1>Angular Pizza Pagination Example </h1>

    <table class="table table-bordered">
        <tr>
            <th>ProductID</th>
            <th>Product Name</th>
            <th>Total Price</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let piza of pizzaPag | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }">
            <td>{{piza.product_id}}</td>        
            <td>{{piza.product_name}}</td>
            <td>{{piza.total_price |currency:"GBP"}}</td>
        </tr>
    </table>

    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div> -->
<!-- 
<mat-toolbar color="primary">
    Card view demo
</mat-toolbar>
<div class="content">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Pizza </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/pepperonAndJalapenos.jpg">
        <mat-card-content>
            <p>
                The Himalayas is a mountain range in Asia.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div> -->