<p>pizza works!</p>

<!-- <ul class="list-group">
    <li *ngFor = "let pizza of pizzas" 
    class="list-group-item">
    
    </li>
</ul> -->

<div class="display-board">
    <h4>From Pizza Component</h4>
    <div class="card" *ngFor="let pizza of pizzaArray.status">
    <div class="card-body bg-primary"> {{pizza.product_name}} </div>
    <div class="card-body bg-info"> {{pizza.total_price |currency:"GBP"}} </div>
      </div>      
        <!-- <button class="btn btn-warning" (click)="getAllProducts()">Get All Pizzas</button> -->
</div>

<br>

<h1>Pizza search</h1>
<nav class="navbar" *ngFor="let pizzas of pizzasearchArray.status">

    <input class="form-control" name="productname" [(ngModel)]="productname" (ngModelChange)="Search()"
        placeholder="Enter Productname" type="text">
</nav>
<h1> Pizza Search2.0</h1>
<p>
    <input class="form-control" name="productname" [(ngModel)]="productname" (ngModelChange)="Search()"
        placeholder="EnterProductname" type="text">

</p>

    


<h1> Pizza Search3.0</h1>

<table class="table">
    <thead>
        <tr>
            <th>Pizza Name</th>
            <th>Pizza Price</th>
            <th></th>
        </tr>
    </thead>
    <!--error here somehow stops the display pizzas to not work-->
    <!-- <tbody *ngFor="let p of filteredPizzas">
        <tr >
            <td>{{p.product_name}}</td>
            <td>{{p.total_price |currency:"GBP"}}</td>
        </tr>
    </tbody>  -->
</table>
    
<!-- <p>
    <a routerLink= "/"></a>
</p> -->
<div>


<p>
    <input #query (keyup)="filterSearchedPizzas(query.value)" class="form-control" placeholder="EnterProductname">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Pizza Name</th>
            <th>Price</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzaArray.status">
            <td>{{pizza.product_name}}</td>
            <td>{{pizza.total_price |currency:"GBP"}}</td>
        </tr>
    </tbody>
    <mat-paginator #paginator [length]="100" [pageSizeOptions]="[3,5,10]" aria-label="select page">
</mat-paginator>
</table>

</div>



<!-- does not work -->
<!-- <data-table [items]="items"
[itemCount]="itemCount"
[reload]="reloadItems($event">
    <data-table-column
    [property]="'productname'"
    [header]="'Pizza Name'"
    [sortable]="true"
    [resizable]="true"> </data-table-column>
    <data-table-column [property]="'product_name'" [header]="'Pizza Name'" [sortable]="true" [resizable]="true">

    </data-table-column>

   
</data-table> -->


<!-- Example of a display -->
<!-- <ul class="pizzas">
    <li *ngFor="let pizza of pizzas">
        <a routerLink="/detail/{{pizza.id}}">
            <span class="badge">{{pizza.id}}</span> {{pizza.product_name}}
        </a>
        <button type="button" class="delete" title="delete hero" (click)="delete(pizza)">x</button>
    </li>
</ul> -->

