<p>productlist works!</p>

    <!-- <div class="card-header">
        Menu
    </div> -->
<!-- <div class="row">
    <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/vegpizza.jpg" alt="Card image cap">
    <div class="card-body">

        <h5 class="card-title">Pizza Type- {{products[0].productName}}</h5>
        <p class="card-text">Price- {{products[0].price| currency:"GBP"}}</p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>
<div class="col-sm-6"> 
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/meatLovers.jpg" alt="Card image cap">
    <div class="card-body">

        <h5 class="card-title">Pizza Type- {{products[1].productName}}</h5>
        <p class="card-text">Price- {{products[1].price| currency:"GBP"}}</p>
        <a href="#" class="btn btn-primary">Submit</a>
    </div>
    </div>
</div>
</div> -->


<!-- <button type="button" (click)="goBack()">go back</button> -->
<div class="row" *ngFor="let pizza of pizzaArray.status">
    <div class="col-sm-5">
        <div class="card">
                <img class="card-img-top" src="assets/images/meatLovers.jpg" alt="Card image cap">

            <div class="card-body" >
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">{{pizza.total_price |currency:"GBP"}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
                <img class="card-img-top" src="assets\images\veggiepizza.jpeg" alt="Card image cap">           
                 <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <img class="card-img-top" src="assets/images/peperoni.jpg" alt="Card image cap">
    
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <img class="card-img-top" src="assets/images/corn.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>